In [1]:
# import libraires
import pandas
from ucimlrepo import fetch_ucirepo

In [2]:
# fetch dataset (Assignment 2, Part 3.1)
bank_marketing = fetch_ucirepo(id=222)

In [3]:
# extract features and targets
X = bank_marketing.data.features
y = bank_marketing.data.targets

In [4]:
# display shape (Assignment 2, Part 3.2)
print("Features Shape:", X.shape)
print("Target Shape:", y.shape)

# preview the first few rows (Assignment 2, Part 3.3)
# look at X to see the client data
print(X.head())

# check column names and data types (Assignment 2, Part 3.4)
print(X.info())

Features Shape: (45211, 16)
Target Shape: (45211, 1)
   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married        NaN      no     1506     yes   no
4   33           NaN   single        NaN      no        1      no   no

  contact  day_of_week month  duration  campaign  pdays  previous poutcome
0     NaN            5   may       261         1     -1         0      NaN
1     NaN            5   may       151         1     -1         0      NaN
2     NaN            5   may        76         1     -1         0      NaN
3     NaN            5   may        92         1     -1         0      NaN
4     NaN            5   may       198         1     -1         0      NaN
<class 'pandas.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          44923 non-null  str
 2   marital      45211 non-null  str
 3   education    43354 non-null  str
 4   default      45211 non-null  str
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  str
 7   loan         45211 non-null  str
 8   contact      32191 non-null  str
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  str
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     8252 non-null   str
dtypes: int64(7), str(9)
memory usage: 5.5 MB
None